<div class="animation" #animation>
  <div class="layer rocketLayer" *ngIf="!isCrashed">
    <div class="rocket-body" #rocketBody style="animation: bounce 1s infinite">
    </div>
    <div class="exhaust-flame"></div>
    <ul class="exhaust-fumes" #fumes>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="layer boomLayer" *ngIf="isCrashed"></div>
  <div class="layer oddsLayer">
    <span class="odds">{{ currenyOdds }}X</span>
  </div>
</div>

<button (click)="start()" [disabled]="(isBegin && !isCrashed) || (!isBegin && isCrashed)">start</button>
<button (click)="crashed()" [disabled]="!isBegin || isCrashed">crashed</button>
<button (click)="escape()" [disabled]="!isBegin || isBegin && isCrashed || isEscape">escape</button>
<button (click)="reset()" [disabled]="!isCrashed">reset</button>
